{% extends "questions/base.html" %}
{% load static %}

{% block container %}
    <div class="container-sm border rounded mt-5 p-3" style='max-width:600px;'>
        <h3 class="mt-5 mb-5 text-center">¿En qué podemos ayudarte hoy?</h3>
            <form method="POST" action="{% url 'new_question' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success btn-block mt-4 w-50 mx-auto d-block mb-5" type="submit">Pregunta!</button>
            </form>
    </div>
{% endblock %}