{% extends "questions/base.html" %}
{% load static %}

{% block container %}
    <div class="container-sm border rounded mt-5 p-3">
        <div class="ml-5 mt-5 d-flex align-items-center justify-content-start">
            {% if question.author.picture %}
                <img src="{{ question.author.picture.url }}" class="mr-3 rounded-circle" height="50" />
            {% else%}
                <img src="{% static 'img/user.png' %}" class="mr-3 rounded-circle" height="50" />
            {% endif %}
            <p class="mr-3">{{ question.author.user.username }}</p>
            <p class="mr-3">{{ question.post_date }}</p>
        </div>
        <h3 class="ml-5 mr-5">{{question.description}}</h3>
        {% for comment in comments %}
            <div class="ml-5 mt-5 d-flex align-items-center justify-content-start">
                {% if question.author.picture %}
                    <img src="{{ comment.author.picture.url }}" class="mr-3 rounded-circle" height="50" />
                {% else%}
                    <img src="{% static 'img/user.png' %}" class="mr-3 rounded-circle" height="50" />
                {% endif %}
                <p class="mr-3">{{ comment.author.user.username }}</p>
                <p class="mr-3">{{ comment.post_date }}</p>
            </div>
                <p class="ml-5 mt-3 mr-3 w-75"> {{comment.content}}</p>

        {% endfor %}

            <form class="mt-5" method="POST" action="{% url 'question_detail' id=question.id %}">
                {% csrf_token %}
                <p class="ml-5">Agrega un comentario</p>
                <div class="d-flex align-items-center form-group ">
                    <input class="form-control ml-5 mr-3 w-75 " type="text" placeholder="comentario" name="content" />
                    <button class="btn btn-success btn-block w-50 mr-5" type="submit">Comenta</button>
                </div>
            </form>

    </div>
{% endblock %}